// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
//@import 'sencha-touch/default';
//@import 'sencha-touch/default/all';

@import 'sencha-touch/cupertino';
@import 'sencha-touch/cupertino/all';

@import 'custom/icomoon';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.login-background{
	background: url('../images/shattered-island.gif');
}
.signup-btn{
	color:#FFF;
    text-align:center;
}

.muted {
    color: #999;
    font-size: 0.8em;
}

.list-generic{
	display:block;
	.list-generic-left{
		float: left;
		text-align: left;
	}
	.list-generic-right{
		float: right;
		text-align: right;
	}
}